.navbar-container {
  height: 90vh;
  width: 200px;
  background-color: white;
  margin-top: 20px;
  padding: 20px;
}

.ul-list-category {
  list-style: none;
  padding: 0px;
}

.navbar-heading {
  color: #334155;
  font-size: 20px;
  font-family: 'roboto';
}

.category-btn {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  color: #475569;
  font-size: 14px;
  font-family: 'roboto';
  margin: 0px;
  margin-bottom: 10px;
  font-weight: 600;
}

.active {
  color: #0284c7;
}
